@media (min-width: 768px) and (max-width: 991px) {

    /* -----------------------------------------------------------------------------------
     ----------------------------------------------------------------------------- Seccion previa al formulario   */
    .boletin-banner {
        min-width: 95%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 300px;
    }

    .boletin-info {
        font-size: 12px;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;

        p {
            max-width: 230px;
        }
    }

    .boletin-info p {
        text-align: right;

    }

    .boletin-formulario {
        margin-bottom: 0;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .boletin-formulario input {
        max-width: 150px;
        padding: 14px 12px;
    }

    .boletin-formulario button {
        max-width: 145px;
        padding: 14px 20px;
    }

    /* --------------------------------------------- Seccion pago seguro*/

    .contenedor3 {
        width: 95%;
        margin: 0 auto;
        padding: 0px 28px 5px;
        margin-top: -30px;

        .tituloseccion {
            font-size: 39px;
            font-weight: bold;
            margin-bottom: 25px;
        }
    }

    .tarjetas {
        height: 257px;
    }

    .arribatar {
        flex-direction: column;
        align-items: center;
    }

    .logostar {
        width: 100%;
    }

    .imgstar {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;

        img {
            width: 80px;
            /* mantiene proporciones */
            height: 80px;
            /* controla tamaño vertical */
            object-fit: contain;
            /* evita recortes o deformación */
        }

    }

    #emprestar {
        position: unset;

    }

    .botonera1c3 {
        margin-top: 40px;
        gap: 10px;
    }

    .btncuadrado {
        height: 400px;
        width: 200px;

        span {
            margin-top: 30px;
            font-size: 20px;
        }
    }

    .botonera2c3 {

        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(200px, auto);
        gap: 0px;
        padding: 5px;

    }

    .btncuadrado2 {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        padding: 10px;

        span {
            font-weight: bold;
            font-size: 20px;
        }

        p {
            font-size: 12px;
        }
    }

    .btn-doble-colum {
        grid-column: span 2 / span 2;
    }

    .circulofondo {
        width: 70px;
        height: 70px;
        margin-top: 30px;
    }

    /* Seccion Mia   */

    .opciones-vuelo {
        width: 95%;
    }

    .origen {
        margin-bottom: 20px;
    }


    .titulo {
        padding-bottom: 30px;

        h2 {
            font-size: 28px;
        }
    }

    .dios {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .btn.mexico {
        width: 250px;
    }

    .boton-miado {
        display: flex;
        align-self: flex-start;
        justify-content: flex-start;
    }

    .swiper-pagination-bullet {
        background-color: #a12885 !important;
        width: 7px;
        height: 7px;
    }

    .carrusel {
        padding-bottom: 30px;
    }

    #efe {
        display: none;
    }

    /* -----------------Si lees esto gael perdon por todo
    --------------------tqm */

    /* -------------------------------------------
     ---------------------------------------------
     ---------------------------  Final del archivo
     -------------Lo logre joel, quiero agradecer a dios, 
     -------------quiroga y a mi familia 
     por poder adaptar el diseño a tablet */


    .usuario-seccion {
        display: none;
    }

    .lenguaje-dinero {
        display: none;
    }

    .sign-up {
        display: none;
    }

    .login-button {
        display: none;
    }

    .nav-seleccion {
        height: 40px;

        #yutu {
            display: none;
        }
    }

    .btns-menu {
        display: flex;
        align-items: flex-end;
        justify-content: right;
        margin-right: 30px;
    }

    .icon-user {
        margin: 0px 15px 0px 8dvb;
    }

    .icon-menu {
        margin: 0px 15px;
    }

    body {
        padding-top: 100px;
    }

    .infovueloc1 {
        width: 50%;
        height: 50%;
    }

    .contenedor1 {
        width: 100%;
        max-width: none;
        height: 80%;
        flex-direction: row;
        margin: 0;
    }

    .vacio {
        display: none;
    }

    .imgsc1 {
        width: 100%;
        height: 380px;

    }

    .botonesinfo {
        margin-top: 30px;
    }

    
}